*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; 
background-color: hsl(168, 34%, 60%);}
.attribution a { color: hsl(167, 40%, 24%); }

nav{
    display: flex;
    justify-content: space-between;
    margin: 8%;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
}

nav ul{
    list-style: none;
    margin: 0 2%;
}
nav ul li{
    margin: 2%;
}
.topnav li a{
    text-decoration-line: none;
    color: hsl(0, 0%, 100%);
    border-radius: 24px;
    padding: 15px 30px;
    font-weight: normal;
    display: none;
}
.topnav li a:hover{
    color: hsl(212, 27%, 19%);
    background-color:hsl(0, 0%, 100%) ;
}
.responsive{
    background-color: hsl(0, 0%, 100%);
    z-index: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
    text-align: center;
    align-self: center;
    margin-right: 8%;
}
.responsive li a{
    color: hsl(210, 4%, 67%);
    border-radius: 24px;
    padding: 15px 30px;
    font-weight: normal;
    display: inline-block;
}
.responsive li a:hover{
    color: hsl(167, 40%, 24%);
    background-color: hsl(51, 100%, 49%);
    display: inline-block;
    text-align: center;
}
header{
    background: url(images/desktop/image-header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-top: -24%;
    z-index: -1;
}
.resheader{
    margin-top: -100%;
}
header h1{
    text-align: center;
    padding-top: 36%;
    color: hsl(0, 0%, 100%);
    word-spacing: 20px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    z-index: -1;

}
header svg{
    margin: 0 45%;
    padding-top: 24%;
}
.container{
    display: flex;
    flex-direction: column-reverse;
}
#a{
    display: flex;
    flex-direction: column;
}
.item{
    padding: 10%;
}
.item h1{
    font-weight: 900;
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(212, 27%, 19%);
    margin-bottom: 10%;
}
.item p{
    color: hsl(210, 4%, 67%);
    margin-bottom: 10%;
    line-height: 1.6rem;
}
.item h3{
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
}
.imageitem img{
    width: 100%;
}
.item-1{
    background: url('./images/desktop/image-graphic-design.jpg') no-repeat center;
    width: 100%;
    color: hsl(167, 40%, 24%);
}
.item-2{
    background: url('./images/desktop/image-photography.jpg') no-repeat center;
    color: hsl(198, 62%, 26%);
}
.box{
    padding: 12.5% auto;
    width: 100%;
    text-align: center;
}
.box h2{
    font-weight: 900;
    font-family: 'Fraunces', serif;
    padding-top: 100%;
}
.box p{
    padding: 4% 6%  12.5% 6%;
    line-height: 1.6rem;
}
#services{
    flex-direction: column;
}
#testimonials{
    text-align: center;
    padding: 12% 4%;
}
#testimonials h1{
    color: hsl(210, 4%, 67%);
    font-weight: 900;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.2rem;
    padding: 8% 2%;
}
.tbox{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.tbox img{
    border-radius: 100px;
}
.titem{
    padding: 8%;
    margin: 6% 0;
}
.titem p{
    line-height: 1.6rem;
    color:  hsl(232, 10%, 55%);
    margin: 8% 0;
}
.titem h3{
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    margin-bottom: 6%;
}
.titem span{
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', serif;
}
#projects{
    display: flex;
    flex-direction: row;
}
#projects img{
    width: 100%;
    flex: 50%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12.5%;
    text-align: center;
    background-color: hsl(168, 34%, 60%);
}
footer h1{
    color: hsl(167, 40%, 24%);
    padding-bottom: 12%;
}
footer div{
    margin-bottom: 12%;
}
footer a{
    color: hsl(168, 34%, 41%);
    margin: 10% 6%;
}
footer img{
    padding: 4%;
}

@media only screen and (min-width: 480px) {
    nav{
        margin: 2% 4%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        margin: 0% 4%;

    }
    .topnav li a{
        display: block;
    }
    nav svg{
        display: none;
        padding: 2%;
    }
    #logo{
        display: block;
    }
    header{
        margin-top: -10%;
    }
    header h1{
        padding-top: 16%;
    }
    header svg{
        margin: 0 48%;
        padding-top: 6%;
    }
    .container{
        flex-direction: row;
    }
    .imageitem img{
        width: fit-content;
    }
    #a{
        flex-direction: row;
    }
    #services{
        flex-direction: row;
    }
    .box{
        padding: auto;
        width: 100%;
    }
    .box h2{
        padding-top: 50%;
    }
    .box p{
        padding: 4% 25%  8% 25%;
    }
    .tbox{
        flex-direction: row;
    }
    #testimonials h1{
        padding: 0%;
    }
    .titem{
        padding: 4%;
        margin: 6% 0;
    }
    #projects div{
        display: flex;
        flex: 50%;
    }
    #projects div img{
        width: 25%;
    }
    footer h1{
        padding-bottom: 4%;
    }
    footer div{
        margin-bottom: 2%;
    }
    footer a{
        margin: 4%;
    }
    footer img{
        padding: 2%;
    }
}